h1{
    color: red;
}

#graph1{
    padding-left: 30px;
    padding-right: 30px;
}

#graph2{
    padding-left: 30px;
    padding-right: 30px;
}

#graph3{

    position: absolute;
    left: 50%;
    width:50%;
    padding-left: 30px;
    padding-right: 30px;
}

#graph4{
    width:50%;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
}
