.connexion-container-ion-card {
    height: 100%;
}

.connexion-container-ion-card img {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.connexion-container strong {
    font-size: 20px;
    line-height: 26px;
}

.connexion-container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

.connexion-container a {
    text-decoration: none;
}

.ion-sign-button {
    bottom: 0;
    position: absolute;
    margin: 1%;
    width: 98%;
}
