.ion-quiz-green-button {
    --ion-color-primary: #8BC900;
    width: 31vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
}

.ion-quiz-pink-button {
    --ion-color-primary: #E9476F;
    width: 31vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
}

.progress-tips {
    color: #E9476F;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.img-tuto {
    max-width: 100%;
    object-fit: scale-down;
}

.word-definition {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}