.learn-lexicon-container-bottom{
    position:absolute;
    width:100%;
    bottom:0px;
}

.learn-lexicon-icon{
    width:2rem;
    height:2rem;
}
.learn-random-container {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 97%;
}

.ion-card {
    height: 100%;
}

.img-card {
    /*margin-top: 10px;*/
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.learn-random-container strong {
    font-size: 20px;
    line-height: 26px;
}

.learn-random-container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

.learn-random-container a {
    text-decoration: none;
}

.learn-word-definition {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}